.cart__product {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border-bottom: var(--border);
  padding: 0.4em;
}

.product__name {
}

.product__delete-button {
  padding: 0.4em 0.5em;
  border: 0;
  border-radius: 5px;
  background-color: #cf1b1b;
  color: #fff;
}
