.gallery-container {
}

.cart-icon {
  --cart-icon-size: 70px;
  position: fixed;
  z-index: 1;
  bottom: 3%;
  right: 3%;
  width: var(--cart-icon-size);
  height: var(--cart-icon-size);
  background-color: #202226;
  color: #f3f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.product-gallery {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  grid-gap: 2em;
}
